{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>
           {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
        </p>
        <br>
        <a class="btn btn-primary" href="/">
            {{ 'registration.back'|trans }}
        </a>
    </div>
    
{% endblock fos_user_content %}
